- unless @districts_with_jobs.empty?
  .notice
    - if flash[:notice]
      = flash[:notice]
  - @districts_with_jobs.each do |district, jb|
    - unless jb.empty?
      .rounded_list_container
        .rounded_1.center
        .rounded_2.center
        .rounded_list_title
          = district.name
        - jb.each do |j|
          %table.rounded_list_item{:class => "#{cycle('odd', 'even')}", :name => "#{j.absr_id}"}
            %tr
              %td
                %table{:class => "job_for_district"}
                  %tr
                    %td.date_td
                      = j.assignments[0].date
                    %td
                      %div
                        = j.assignments[0].subject
                      %div
                      = #link_to( "Exclude", home_exclude_path(@user.id, j.subject))
                    %td
                      = j.assignments[0].teacher
                    %td
                      = j.assignments[0].school
              %td.reject_button
                %a{:class => "reject", :name => "#{j.absr_id}", :href => "#{@user.id}/reject_job?absr_id=#{j.absr_id}"}
                  Reject
              %td.accept_button
                %a{:class => "accept", :name => "#{j.absr_id}", :href => "/jobs/new?absr_id=#{j.absr_id}"}
                  Accept
              %td.spinner
                %img{:src => "/images/spinner.gif", :alt => "spinner"}
            %tr{:class => "job_details", :name => "#{j.absr_id}"}
              %td{:class => "job_details_table"}
                %table
                  %thead
                    %tr
                      %th Day
                      %th Start
                      %th End
                      %th Duration
                      %th School
                  %tbody
                    - j.assignments.each do |assignment|
                      %tr
                        %td= assignment.date
                        %td= assignment.start_time
                        %td= assignment.end_time
                        %td= assignment.duration
                        %td= assignment.school
        .rounded_2.center
        .rounded_1.center

    .hidden_sound
      - #%audio{:src => "/audio/buzzer.ogg", :autoplay => "autoplay"}
- else
  %center
    There are no jobs at this time.

:javascript
  $(document).ready(function(){
    $(".rounded_list_item").click(function(){
      toggleJobDetails($(this).attr("name"));
    });
  });